fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-openai
langchain-huggingface
chromadb
pypdf
python-dotenv
sqlalchemy
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
pyjwt
weasyprint
python-docx
